.titleBar {
    display: inline;
}

#btnCreate {
    float: right;
}

#btnItem {
    float: left;
}

#title1 {
    vertical-align: middle;
    font-size: 25px;
    color: white;
    font-family: Arial, serif;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: Arial, serif;
}

#button1 {
    float: left;
    margin-left: 5%;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    background: none;
}

#button3 {
    float: left;
    margin-right: 5%;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button1:hover{
    color: gray;
}

#button2 {
    float: right;
    margin-right: 5%;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    background: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button2:hover{
    color: gray;
}


.item {

    width: 47.49%;
    margin-left: 1%;
    margin-right: 0.5%;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid;
}

.textBlock {
    background-color: darkgray;
    color: lightgray;
    padding-right: 1%;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: contain;
}

#mapImg{
    width: 45%;
    height: auto;
}

#addImg{
    width: 50%;
    height: auto;
}